.login_wrap {
    min-width: inherit !important;
    width: 100%;
    height: 100vh;
    background-color: #343A40;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    .login_box {
        width: 360px;

        .lg_logo_box {
            display: flex;
            justify-content: center;
            width: 100%;

            img {
                width: 110px;
            }

            padding-bottom: 10px;
        }

        .lg_input_wrap {
            background-color: #fff;
            padding: 20px 20px 30px 20px;

            .input_tit_txt {
                text-align: center;
                padding-bottom: 20px;
                font-size: 16px;
            }

            .lg_input_box {
                padding-bottom: 15px;

                input {
                    width: 320px;
                    height: 38px;
                    border: 1px solid #ced4da;
                    border-radius: 0.25rem;
                    color: #000;
                    font-size: 14px;
                    padding: 0 40px 0 10px;
                }

                input::placeholder {
                    color: #a6a6a6;
                }
            }

            .lg_btn_box {
                padding-bottom: 25px;

                button {
                    width: 320px;
                    height: 40px;
                    background-color: #017BFF;
                    text-align: center;
                    border-radius: 0.25rem;

                    span {
                        line-height: 40px;
                    }

                }
            }
        }
    }
}