a[href="https://blog.naver.com/naek1995"] {
    padding: 8px 36px;
    height: auto;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    white-space: nowrap;
    transition: .3s ease-out, -webkit- .3s ease-out;
    font-weight: 400 !important;
    background: #fff;
    border: 1px solid #cccccc;
    color: #064f82 !important;
    font-size: 20px !important;
    text-decoration: none !important;
}