
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 100;
    src: url("./Pretendard-Thin.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 200;
    src: url("./Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 300;
    src: url("./Pretendard-Light.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    src: url("./Pretendard-Regular.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 500;
    src: url("./Pretendard-Medium.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    src: url("./Pretendard-SemiBold.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    src: url("./Pretendard-Bold.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 800;
    src: url("./Pretendard-ExtraBold.woff") format("woff");
}
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 900;
    src: url("./Pretendard-Black.woff") format("woff");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, select, textarea, button{ font-family: 'Pretendard',  sans-serif;}
