/* 전체 width */
.react-calendar {
    width: 100%;
    border: none;
}

.p_calendar_wrap{
    height: 88vh;
    overflow-y: auto;
}


.p_calendar_wrap .eventList{
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.p_calendar_wrap .list_txt{
    font-size: 14px;
    padding: 3px 6px;
    background-color: #eee;
    margin-right: 5px;
    border-radius: 5px;
}

.p_calendar_wrap .toMonth_btn{
    position: relative;
    width: 70px;
    height: 40px;
    padding: 0.4em 0.65em;
    border: 1px solid #dedede;
    border-radius: 10px;
    color: #888888;
    font-size: 1em !important;
    cursor: default !important;
    opacity: 0.65;
}

.p_calendar_wrap .toMonth_btn.btn_active {
    cursor: pointer !important;
    opacity: 1 !important;
    color: #666666;
}

//////////////////////////////////// 캘린더//////////////////////////////
// abbr {
//     font-size: 20px !important;
//     cursor: auto !important;
//     text-decoration: none !important;
// }
// button{
//     font-size: 20px;
// }



.react-calendar__navigation button:disabled{
    background-color: #fff;
    color: #666;
    cursor: context-menu !important;
}


/* 년,월 네비게이션 div */
.react-calendar__navigation {
    width: 33%;
    height: 50px;
    margin: 10px auto 1.5rem auto;
    background-color: #fff !important;
    border: none !important;
}

/* 월 화살표 호버 */
.react-calendar__navigation button:enabled:hover, 
.react-calendar__navigation button:enabled:focus {
    height: 100%;
    background-color: #fff !important;
}

/* 네비게이션 버튼 */
.react-calendar__navigation button {
    // height: 100%;
    font-size: 40px !important;
}

.react-calendar__navigation__label__labelText {
    font-size: 20px;
    font-weight: 400;
    cursor: text;
}

/* 날짜의 문자 스타일 */
.react-calendar__month-view__days__day-names,
.react-calendar__month-view__days__day {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
}

/* 선택된 타일 스타일 */
// .react-calendar__tile--active:hover {
//     background: #1a73e8;
//     color: white;
// }

/* 날짜에 대한 hover 스타일 */
.react-calendar__tile:hover {
    // background: #e8f0fe;
    color: black;
}

.react-calendar__month-view__weekdays {
    height: 30px;
    margin: 0px;
    background-color: #f3f3f3;
}

.react-calendar__month-view__weekdays abbr{
    font-size: 14px !important;
    font-weight: 700;
}

.react-calendar__month-view__weekdays__weekday:first-child {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #cb4237;
}

.react-calendar__month-view__weekdays__weekday {
    line-height: 18px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.react-calendar__month-view__weekdays__weekday:last-child {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #005bb6;
}

/* 요일 스타일 */
.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.react-calendar__tile:disabled abbr{
    color: #bbb !important;
}

/* 네비게이션 스타일 */
.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: #f1f3f4;
    border-bottom: 1px solid #dfe1e5;
}

.react-calendar__navigation__label {
    font-weight: bold;
    font-size: 14px;
}

/* 네비게이션 버튼 스타일 */
.react-calendar__navigation__arrow,
.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
    cursor: pointer;
    font-size: 24px;
    color: #5f6368;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #dfe1e5;
}


/* 캘린더 타일 */
.react-calendar__tile:first-child {
    border-left: 1px solid #dddddd !important;
    border-right: 1px solid #dddddd !important;
    border-bottom: 1px solid #dddddd !important;
}

.react-calendar__month-view__days__day--weekend{
    color: #000;
}

.react-calendar__tile {
    max-width: 100%;
    // height: 145px;
    min-height: 10.5em;
    height: auto;
    text-align: center;
    padding: 4px;
    background: none;
    border: none;
    outline: none;
    cursor: auto !important;
    position: relative;
    border-right: 1px solid #dddddd !important;
    border-bottom: 1px solid #dddddd !important;
}

.react-calendar__tile abbr {
    position: absolute;
    right: 7px;
    top: 7px;
    font-size: 14px !important;
    font-weight: 400;
}

/* 선택된 날짜 타일 */
.react-calendar__tile--active {
    // background: #cbe2ff;
    color: #000;
}

/* 선택된 날짜 타일 2 */
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #fff;
}

/* 오늘 날짜 스타일 */
// .react-calendar__tile--now {
//     background: #eaf1fb;
// }

.react-calendar__tile--now abbr {
    top: 5px;
    padding: 2px 3px;
    background-color: #e19200;
    border-radius: 5px;
    color: #fff;
}


/* 토요일 날짜 스타일 */
.p_calendar_wrap .saturday abbr {
    color: #005bb6 !important;
}

/* 일요일 날짜 스타일 */
.p_calendar_wrap .sunday abbr {
    color: #cb4237 !important;
}

/* 공휴일 스타일 */
.p_calendar_wrap .holiday abbr {
    color: #cb4237 !important;
}

// 이벤트 박스
.p_calendar_wrap .events{
    height: 100%;
    padding: 17px 0px 0px 0px;
    overflow-y: auto;
}

/* 스크롤바 숨기기 */
.p_calendar_wrap .events::-webkit-scrollbar {
    display: none;
}

/* IE, Edge, Firefox에서 스크롤바 숨기기 */
.p_calendar_wrap .events {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* 이벤트 스타일 */
.p_calendar_wrap .event {
    // background-color: #00188333;
    border-radius: 4px;
    padding: 3px 3px;
    margin: 3px 0px;
    font-size: 14px;
    text-align: start;
    cursor: pointer;
    z-index: 5;
}

.p_calendar_wrap .event span{
    font-size: 14px;
    line-height: 1.4;
    white-space: pre-line;
    color: #484848;
}


.p_calendar_wrap .event_forum , .p_calendar_wrap .forum{
    background-color: #00188333;
}

.p_calendar_wrap .event_meet , .p_calendar_wrap .meet{
    background-color: #e0a8004d;
}

.p_calendar_wrap .event_etc , .p_calendar_wrap .etc{
    background-color: #0000001a;
}



.p_calendar_wrap .holiday-name {
    position: absolute;
    top: 5px;
    right: 38px;
    background-color: #cb4237;
    border-radius: 4px;
    padding: 1px 5px;
    font-size: 12px;
    color: white;
}

.p_calendar_wrap .holiday-name span{
    color: white;
}

/* 모바일 디바이스 */
@media screen and (max-width: 400px) {
    /* 작은 모바일에 적용할 스타일 */
}

@media screen and (max-width: 480px) {
    /* 작은 모바일에 적용할 스타일 */
    
    .react-calendar .react-calendar__tile {
        min-height: 5em !important; /* 더 구체적인 선택자 사용 */
    }
}

@media screen and (max-width: 500px) {
    /* 작은 모바일에 적용할 스타일 */
    .p_calendar_wrap .event span {
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        // text-overflow: ellipsis;
    }
}

@media screen and (max-width: 768px) {
    /* 일반적인 모바일에 적용할 스타일 */
    .p_calendar_wrap .holiday-name{
        display: none;
    }

    .react-calendar .react-calendar__tile {
        min-height: 7em; /* 더 구체적인 선택자 사용 */
    }

    .p_calendar_wrap .toMonth_btn{
        top: 0px;
    }
}

/* 태블릿 디바이스 */
@media screen and (max-width: 1000px) {
    /* 태블릿에 적용할 스타일 */

    .react-calendar__navigation{
        width: 100% !important;
    }
}

/* 작은 데스크탑 및 노트북 */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    /* 작은 데스크탑 및 노트북에 적용할 스타일 */
}

/* 일반적인 데스크탑 */
@media screen and (min-width: 1281px) and (max-width: 1440px) {
    /* 일반적인 데스크탑에 적용할 스타일 */
}

/* 큰 데스크탑 및 대형 화면 */
@media screen and (min-width: 1441px) {
    /* 큰 데스크탑 및 대형 화면에 적용할 스타일 */
    
}