.f_biggest {
    font-size: 25px;
}

.f_bigger {
    font-size: 17px;
}

.f_big {
    font-size: 15px;
}

.f_normal {
    font-size: 13px;
}

.f_small {
    font-size: 12px;
}

.f_smaller {
    font-size: 10px;
    letter-spacing: -0.5px
}

.f_smallest {
    font-size: 8px;
    letter-spacing: -0.5px
}

.f_400 {
    font-weight: 400;
}

.f_500 {
    font-weight: 500;
}

.f_600 {
    font-weight: 600;
}

.f_700 {
    font-weight: 700;
}

.f_white {
    color: #fff;
}

.text_hidden {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
}

.text_hidden_two_line {
    padding-right: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.display_none {
    display: none !important;
}

.display_block {
    display: block !important;
}

.display_flex {
    display: flex;
    align-items: center;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex_around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex_end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex_wrap {
    flex-wrap: wrap;
}

.p_btn {
    background-color: #E77340;
    padding: 8px 16px;
    border-radius: 7px;
    border: 1px solid #E77340;
}

.p_btn:hover {
    background-color: #fff;
    border-color: rgba(255, 204, 182, 0.73);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 141, 13, 0.25);
}

.p_btn span {
    color: #fff;
}

.p_btn:hover span {
    color: #2C2C2C;
    font-weight: 400;
}
























body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    // min-width: 1024px;
    overflow: hidden;
}

.header_wrap {
    z-index: 1;

    .header {
        padding: 0 10px;
        height: 40px;
        background-color: #343A40;

        .hd_logo_img_box {
            width: 200px;
            align-items: flex-end;

            img {
                width: 60px;
                height: auto;
            }

            span {
                padding-left: 8px;
                line-height: normal;
            }
        }

        .hd_user_name_txt {
            color: #F9BD0F;
        }

        .hd_time_box {
            padding-right: 15px;
        }

        .hd_btn {
            background-color: #fff;
            padding: 4px 13px;
            margin-left: 8px;
            border-radius: 3px;
        }

        .go_web_btn {
            border: 2px solid #017BFF;

            span {
                color: #017BFF;
            }
        }

        .logout_btn {
            border: 2px solid #585858;

            span {
                color: #585858;
            }
        }
    }

    nav {
        position: absolute;
        top: 40px;
        left: 0;
        width: 200px;
        height: calc(100vh - 40px);
        background-color: #343A40;

        button {
            padding: 0;
        }

        a {
            width: 100%;
            padding: 12px 14px;
            color: #fff;
            text-decoration: none;
        }

        .nav_2_btn {
            display: block;
        }

        .accordion-item {
            border: 0;
            border-radius: 0;
            background-color: #343A40;
        }

        .accordion-button {
            background-color: #343A40;
            border: 0;
        }

        .accordion-header {
            border: 0;
        }

        .accordion-button:focus {
            box-shadow: none;
        }

        .accordion-body {
            margin-left: 10px;
            padding: 0;
            background-color: #51575E;

            .nav_2_btn {
                padding: 12px 14px;
            }
        }

        .accordion-button::after {
            background-image: url(../../public/img/arrow_down.png);
        }

        .accordion-button:not(.collapsed)::after {
            background-image: url(../../public/img/arrow_up.png);
        }
    }
}

.components_wrap {
    padding: 20px 20px 20px 220px;
}




// ------------------------------------------------------------------- //

.common_title {
    display: block;
    font-size: 60px;
    font-weight: 700;
}

.tmp_btn {
    display: block;
    margin: 5px 0px;
    font-size: 16px;
    cursor: pointer;
}

// ------------------------------------------------------------------- //

//체크박스,라디오
/* 체크박스와 라벨 스타일 */
.p_chkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    color: #333;
    position: relative;
}

// .p_chkbox input{
//     width: 0px;
// }
/* 기본 체크박스 숨기기 */
.p_chkbox input[type="checkbox"] {
    display: none;
}

/* 체크박스 레이블 스타일 */
.p_chkbox {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* 체크박스의 기본 상태 */
.p_chkbox::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #fff;
    background: url(../../public/img/check-gray.png) no-repeat center / 18px;
}

/* 체크박스가 체크되었을 때 ::before 요소 스타일 */
.p_chkbox input[type="checkbox"]:checked+span::before {
    border-color: #007bff;
    background: url(../../public/img/check-white.png) no-repeat center / 18px #007bff;
}

/* 체크박스가 체크되었을 때 ::after 요소 스타일 */
.p_chkbox input[type="checkbox"]:checked+span::after {
    display: inline-block;
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    left: 5px;
    top: 5px;
    background: url(../../public/img/check-white.png) no-repeat center / 18px #007bff;
    border-radius: 50%;
    border: 1px solid #007bff;
}

.p_tmp_box {
    width: 200px;
    border: 1px solid #000;
}

/* 라디오 버튼 스타일 */
.p_radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    color: #333;
    position: relative;
}

.p_radio input {
    display: none;
    /* 기본 라디오 버튼 숨기기 */
}

.p_radio::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #fff;
}

/* 선택된 라디오 버튼의 스타일 */
.p_radio_s::before {
    background-color: #007bff;
    border-color: #007bff;
}

.p_radio_s::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 11px;
    top: 11px;
    font-weight: 600;
    background-color: white;
}


// ------------------------------------------------------------------- //

// common > 토스트
.Toastify__toast-body div {
    font-size: 14px;
}

// ------------------------------------------------------------------- //

// common > 알럿
.p_alertTitleStyle,
.p_alertContentStyle {
    text-align: center;
}

// ------------------------------------------------------------------- //

// common > 모달
.p_modalTitleStyle,
.p_confirmTitleStyle,
.p_alertTitleStyle {
    margin-bottom: 20px;
    font-size: 20px !important;
    font-weight: 500;
    color: #333;

    /* 제목 색상을 어두운 회색으로 */
    div,
    span {
        margin-bottom: 20px;
        font-size: 20px !important;
        font-weight: 500;
        color: #333;
        /* 제목 색상을 어두운 회색으로 */
    }
}

.p_modalContentStyle,
.p_confirmContentStyle,
.p_alertContentStyle {
    margin-bottom: 20px;
    font-size: 16px !important;
    color: #666;

    div,
    span {
        margin-bottom: 20px;
        font-size: 16px !important;
        color: #666;
    }
}

.p_closeButtonStyle,
.p_confirmCloseButtonStyle {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    color: #888;
    /* 닫기 버튼 색상을 중간 회색으로 */
}

.p_modalCloseBox {
    display: block;
    text-align: center;
}

.p_closeBottomStyle {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #2D7AC0;
    /* 버튼 배경 색상을 파란색으로 */
    color: #fff;
    /* 버튼 텍스트 색상을 흰색으로 */
    border-radius: 4px;
    /* 모서리를 둥글게 */
    transition: background-color 0.3s;
    /* 호버 시 배경색 전환 */
    font-size: 14px;
}

.p_closeBottomStyle:hover,
.p_confirmCheckButton:hover {
    background: #0056b3;
    /* 버튼 호버 색상을 어두운 파란색으로 */
}

// ------------------------------------------------------------------- //

// common > 컨펌

.ReactModal__Content {
    height: auto !important;
}

.p_confirmDisplayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_confirmDisplayFlex button {
    margin: 0px 3px;
}

.p_confirmCheckButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #17358e;
    /* 확인 버튼 배경 색상을 녹색으로 */
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.p_confirmCloseButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #fff;
    /* 취소 버튼 배경 색상을 빨간색으로 */
    border: 1px solid #535353;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.p_confirmCloseButton:hover {
    background: #f5f5f5;
    /* 취소 버튼 호버 색상을 어두운 빨간색으로 */
}

// ------------------------------------------------------------------- //

// common > 로딩
.p_loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

// ------------------------------------------------------------------- //

// common > 데이트피커

.datePickerWrapper div,
.datePickerWrapper input {
    font-size: 14px !important;
}

.datePickerWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.calendarIcon {
    position: absolute;
    right: 10px;
    /* 아이콘의 위치 조정 */
    pointer-events: none;
    /* 아이콘 클릭이 불가능하게 설정 */
    color: #000;
    /* 아이콘 색상 */
    font-size: 14px;
}

//보여지는달력 해당월아닌 다른월 날짜는 회색컬러로 글자처리
.react-datepicker__day--outside-month {
    color: #a8a8a8 !important;
    pointer-events: none;
}

.react-datepicker__month-container div {
    font-size: 14px !important;
}


.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__month-year-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll,
.react-datepicker__month-year-dropdown-container--scroll {
    margin: 10px 5px !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    margin: 0.3rem !important;
}