@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /*font-size: 100%;
	vertical-align: baseline;
	background: transparent;*/
}
#root,
.App {
  height: 0;
}
body {
  /*line-height: 1;*/
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) a:focus {
  outline: none;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  /*-webkit-appearance: none;*/
  /*-moz-appearance:none;*/
  /*appearance:none;*/
  /*border:1px solid #cccccc;*/
  /*outline: 0;*/
}
a {
  color: #000000;
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
  overflow: visible;
  white-space: nowrap;
  background-color: transparent;
}

input,
select {
  font-family: Pretendard;
}
table input {
  width: 100%;
  background: none;
  border: none;
  text-align: center;
  font-size: 14px;
}
textarea {
  padding: 10px;
  border: 1px solid #cccccc;
  font-family: "pretendard", sans-serif;
  font-weight: 300;
}
input[readonly] {
  background: #d9d9d9;
}
select {
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  background-color: #fff;
}
select::-ms-expand {
  display: none;
}
input[type="radio"] + label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  transition: 0.2s;
}
input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 13px;
  height: 13px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background: #fff;
  transition: 0.2s;
}
input[type="radio"]:checked + label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 3px;
  width: 9px;
  height: 9px;
  border-radius: 10px;
  background: #535353;
  transition: 0.2s;
}
/* 체크박스 */
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
}
input[type="checkbox"] + label.label-t {
  padding-left: 23px;
  padding-top: 2px;
  font-family: "Pretendard-Regular";
}
input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #707070;
  background-color: #ffffff;
}
input::-webkit-input-placeholder {
  color: #cccccc;
}
input:-ms-input-placeholder {
  color: #cccccc;
}
textarea::-webkit-input-placeholder {
  color: #cccccc;
}
textarea:-ms-input-placeholder {
  color: #cccccc;
}
input::placeholder {
  color: #cccccc;
  opacity: 1;
}
textarea::placeholder {
  color: #cccccc;
  opacity: 1;
}
input:disabled {
  background-color: #f1f1f1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  -webkit-text-size-adjust: none;
}
body {
  position: relative;
  min-height: 100vh;
  font-family: "Pretendard", sans-serif !important;
  font-size: 14px;
  line-height: normal !important;
  color: #333;
  letter-spacing: -0.5px;
  -webkit-overflow-scrolling: touch;
  background: #ffffff;
}
